extends layout

block content

  #main.pure-g-r
    .pure-u-1-3
    .pure-u-1-3
      form(action="/account", method="post").pure-form.pure-form-aligned
        legend #{title}
        fieldset
          .pure-control-group
            label(for="username") Name
            input(type="text", name="username", placeholder="Name", value="#{user.username}")
          .pure-control-group
            label(for="email") Email
            input(type="email", name="email", placeholder="email@domain.com", value="#{user.email ? user.email : ''}")
          .pure-control-group
            label(for="emailActive") Receive Daily Email
            if user.emailActive
              input(type="checkbox", name="emailActive", checked)
            else
              input(type="checkbox", name="emailActive")
          .pure-control-group
            label(for="password") Password
            input(type="password", name="password", placeholder="Password")
          .pure-control-group
            label(for="password") Confirm password
            input(type="password", name="password_conf", placeholder="Confirm password")
          .pure-controls
            input(type="submit", value="Update")
      br
      br
      form.pure-form.pure-form-aligned
        legend(id="legend-connect") Connect
          // a(onclick="revealConnect();", href="#connect") Connect
        fieldset(id="fieldset-connect")
          .pure-control-group
            label
              i.icon-twitter.icon-large
            if !user.twitterToken
              a.btn(href="/auth/twitter")
                i.icon-plus
            else
              a.btn.btn-danger(href="https://twitter.com/settings/applications", target="_blank")
                i.icon-remove
            br
            br
          .pure-control-group
            label
              i.icon-facebook.icon-large
            if !user.facebookToken
              a.btn(href="/auth/facebook")
                i.icon-plus
            else
              a.btn.btn-danger(href="https://www.facebook.com/settings?tab=applications", target="_blank")
                i.icon-remove
            br
            br
          .pure-control-group
            label
              i.icon-github.icon-large
            if !user.github
              input#github-name(type="text", name="githubName", placeholder="Username", value="#{user.github || ''}")
              a.btn(onclick="submitGithub(this);")
                i.icon-plus
            else
              a.btn.btn-danger(onclick="submitGithub(this,true);")
                i.icon-remove
            br
            br
          .pure-control-group
            label
              | Tent
            small.muted (Coming soon!)
            // a.btn
            //   i.icon-plus
            br
            br
          .pure-control-group
            label
              i.icon-key
            // code #{user.key}
            small.muted (API coming soon!)
    .pure-u-1-3
    .pure-u-1-4
      address 
        a(href="/contact") Contact
        br
        a(href="/privacy") Privacy Policy
        br
        br
    .pure-u-1-2
    .pure-u-1-4
      address
        small &copy 2013 Atomist.co
        br
        small Made with love & honesty.
  script
    function revealConnect(){
      document.getElementById('legend-connect').innerHTML = 'Connect To';
      document.getElementById('fieldset-connect').className = 'animated fadeInDown';
    }
    function submitGithub(btn,keep){
      if(!keep){
        var value = document.getElementById('github-name').value;
        location = '?githubName='+value;
      }else{
        location = '?githubRemove=true';
      }
    }