doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="The best way to search your thoughts. Never forget another link or great idea, even on social media.")
    link(rel='icon', href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    if user
      meta(name="uid", content="#{user._id}")
      meta(name="fbid", content="#{user.facebookUid}")
  body
    main.container
      #message
        if message.length > 0
          p.pull-center.message #{message}
      #error
        if error.length > 0
          p.pull-center.error #{error}
      .pure-g-r
        .pure-u-1-2
          #menu-bar.pure-menu.pure-menu-open.pure-menu-horizontal
            ul.otherly
              if user
                li
                  a.brand-nav(href="/") <span class="memory rf-atomist">tomist</span>
                li
                  a.account-nav(href="/account")
                    i.icon-cog
                li
                  a.sign-out-nav(href="/sign-out")
                    i.icon-signout
              // if (!user)
              //   li
              //     a.brand-nav-inverse(href="/") <span class="memory rf-atomist">tomist</span>

      block content

      footer.footer

    script(src='/socket.io/socket.io.js')
    script
      function togglePasswordFields(element){
        var fields = document.getElementsByClassName('password-field');
        for(i=0;i<fields.length;i++){
          if(fields[i].type == 'password'){
            fields[i].type = 'text';
            element.innerHTML = '<i class="icon-eye-close"></i>';
          }else{
            fields[i].type = 'password';
            element.innerHTML = '<i class="icon-eye-open"></i>';
          }
        }
      }