if memory.link
  li
    a(href="#{memory.link}", target="_blank").truncate #{memory.text}
  ul
    li
      small
        a(href="/memory/#{memory._id}") #{memory.modified}
else
  li.truncate #{memory.text} #{memory.created}
  ul
    li
      small
        a(href="/memory/#{memory._id}") #{memory.modified}