if memory.link
  li
    a(href="#{memory.link}", target="_blank") #{memory.text}
    .memory-time
      small
        a(href="/memory/#{memory._id}") #{memory.modified}
else
  li #{memory.text}
    .memory-time
      small
        a(href="/memory/#{memory._id}") #{memory.modified}