if memory
  form(id="memory-form", action="#{ '/memory/'+memory._id }", method="post").pure-form.pure-form-aligned
    legend #{title}
    fieldset
      .pure-control-group
        textarea(id="memory-text", rows="5", type="text", name="text", placeholder="...", autofocus="autofocus")
          if memory.text
            | #{memory.text}
      .pure-control-group
        label(for="link").link-label
          i.icon-link
        input(id="memory-link", type="text", name="link", placeholder="http://", value="#{memory ? memory.link : ''}")
      input(id="memory-time", type ="hidden", name="time", value="#{new Date}")
      input(id="memory-searchable-url", type ="hidden", name="searchableUrl", value="#{memory.searchableUrl}")
      
      .pure-controls
        input(type="submit", value="#{title}", id="send")
if !memory
  #memory-form.pure-form.pure-form-aligned
    fieldset
      .pure-control-group
        textarea(id="memory-text", rows="5", type="text", name="text", placeholder="...", value="#{memory ? memory.text || '' : ''}", autofocus="autofocus")
      .pure-control-group
        label(for="link").link-label
          i.icon-link
        input(id="memory-link", type="text", name="link", placeholder="http://", value="#{memory ? memory.link : ''}")
      
      .pure-controls
        button(type="submit", value="", id="send") <i class="icon-plus"></i> Add
